# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
.env.*

# Node/React
node_modules/
*.log
.env.development
frontend/build/

# Poetry
poetry.lock

# VSCode
.vscode/

# Docker
*.pid
*.sock

# Logs
*.log
logs/
*.sqlite3

# Sistema
.DS_Store
Thumbs.db
